.showcase {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: #eee;
  height: 100%;

  &__hand {
    display: flex;
    max-height: 65px;
    margin-bottom: 10px;
  
    &:hover {
      opacity: 0.5;
      cursor: pointer;
    }
  }
  
  &__button {
    margin-bottom: 10px;
    cursor: pointer;
  }
}